<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <pie-chart></pie-chart>
  </div>
</div>

<div class="btn-group" role="group" style="width: 100%; margin-bottom: 2em">
  <button type="button" class="btn btn-primary" style="width:33%; font-size: 1.5em;" (click)="changeGraph('graph1')">Left</button>
  <button type="button" class="btn btn-info" style="width:33%; font-size: 1.5em;" (click)="changeGraph('graph2')">Middle</button>
  <button type="button" class="btn btn-primary" style="width:33%; font-size: 1.5em; background-color: skyblue" (click)="changeGraph('graph3')">Right</button>
</div>

<br>

<div class="row" *ngIf="graph1">
  <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12"
                     title="Acquisition Channels" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>
</div>

<div class="row" *ngIf="graph2">
  <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12" title="Something Good">
        <ba-chartist-chart baChartistChartClass="ct-chart"
                           baChartistChartType="Line"
                           [baChartistChartData]="data['biLineData']"
                           [baChartistChartOptions]="data['biLineOptions']">
        </ba-chartist-chart>
  </ba-card>
</div>

<div class="row" *ngIf="graph3">
  <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12" title="Something Good x2"> 
        <ba-chartist-chart baChartistChartClass="ct-chart"
                           baChartistChartType="Bar"
                           [baChartistChartData]="data['simpleBarData']"
                           [baChartistChartOptions]="data['simpleBarOptions']">
        </ba-chartist-chart>
  </ba-card>
</div>
